body {
    background-color: black;
    
  }

header{
    display: flex;
    text-align: center;
    border-radius: 15px;
    color:white;

}

img.flipped {
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
}

img.won {
    border: 2px solid green; 
}

.banner{
    justify-content: space-between;
    width: 100%;
    height: 70px; 
}

.marcador{
    width: 54%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border: 8px double #48ffc2;
    color: blueviolet;
    height: 54px;
    align-items: center;       
}

.marcador:hover{
    color: red;
}

.b-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.b-grid img {
    width: 200px;
    margin: 20px;
    border: 3px solid #48ffc2;
    border-radius: 20px;
    background-color: rgb(27, 175, 44);
}

button {
    display: block;
    margin: 7px auto;
    padding: 9px 20px;
    background-color: #48ffc2;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer
}

button:hover {
    background-color: #34d399; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    color: white; /* Cambia el color del texto del botón al pasar el cursor sobre él */
}
